<div class="sidebar">
      <a href="/" class="logo"></a>
      <p>
        <a href="/Dashboard">Dashboard</a>
        <a href="/Map">Map</a>
        <a href="/Feedback">Feedback</a>
      </p>
    </div>