<div class="sidebar">
      <a href="/" class="logo"></a>
      <p>
        <a href="/Dashboard" class="DB">Dashboard</a>
        <a href="/Map" class="map">Map</a>
        <a href="/Feedback" class="feedback">Feedback</a>
      </p>
    </div>