<link rel="stylesheet" href="/Dashboard.css">
<div>
<div class="container-dashboard1"></div>
<div class="container1">
    <div class="container-dashboard2"></div>
    <div class="container-dashboard3"></div>
</div>
</div>
<div>
<div class="container-dashboard4"></div>
<div class="container-dashboard5"></div>
<div class="container-dashboard6"></div>
</div>
<div>
<div class="container-dashboard7"></div>
<div class="container-dashboard8"></div>
<div class="container-dashboard9"></div>
</div>