<link rel="stylesheet" href="/Feedback.css">
<div class="conteudo">
    <div class="Feedback">
        <h1>Fale Conosco:</h1>
        <form action="" method="post">
            <label for="Nome">Nome:</label>
            <input type="text" name="nome" id="nome" placeholder="Nome">
            <label for="Email">Email:</label>
            <input type="text" name="email" id="email" placeholder="Email">
            <label for="Feedback">Feedback:</label>
            <textarea name="feedback" id="feedback"></textarea>
        </form>
        <button><p>Enviar</p></button>
    </div>
    
    <img class="img_agro" alt="imagem-de-trator" src="/imagem-trator.jpg">
</div>


<footer>
    <div class="info">
        <h2>Projeto da <a href="https://www.spaceappschallenge.org/nasa-space-apps-2024/2024-local-events/campo-mourao/" target="_blank">Nasa SpaceApps 2024:</a></h2> <a href="https://www.instagram.com/andreiab448/" target="_blank">Andrei A. Santos;</a>
        <a href="https://www.instagram.com/gimenez_hiago/" target="_blank">Hiago G. Vieira;</a>
        <a href="https://www.instagram.com/marlonsid_/" target="_blank">Marlon S. Santos;</a>
        <a href="https://www.instagram.com/pedrohenriquetunes1/" target="_blank">Pedro H. T. Degasperi;</a>
        <a href="https://www.instagram.com/talissonsidnei/" target="_blank">Talisson S. Santos;</a>
        <br> <br>
        <h2>Os dados foram retirados:</h2> Nasa WorldWind; Tomorrow.io;
    </div>
</footer>
