<link rel="stylesheet" href="/Feedback.css">
<div class="Feedback">
    <h1>Fale Conosco:</h1>
    <div class="form">
    <form action="" method="post">
        <label for="Nome">Nome:</label>
        <input type="text" name="nome" id="nome" placeholder="Nome">
        <label for="Email">Email:</label>
        <input type="text" name="email" id="email" placeholder="Email">
        <label for="Feedback">Feedback:</label>
        <textarea name="feedback" id="feedback"></textarea>
    </form>
    </div>
    <button><p>Enviar</p></button>
</div>

<img class="img_agro" alt="imagem-de-trator" src="/imagem-trator.jpg">
