<link rel="stylesheet" href="/Home.css">

<div class="page1">
<img src="/imagem-drone.jpg" class="imagem" alt="drone-monitorando-campo">
<div class="bem-vindo">
    <h2>Bem-vindo ao Agro<b>View</b></h2>
    <p>
        Sua Plataforma de Estatísticas Agrícolas
    </p>
</div>
</div>

<div class="page2">
    <h2>Quem nós somos?</h2>
    <div>
        No AgroView, entendemos que a agricultura moderna depende cada vez mais
        de dados precisos para tomar decisões eficientes. Por isso, criamos
        uma plataforma dedicada a fornecer aos agricultores informações
        estatísticas detalhadas e atualizadas sobre clima, solo, umidade e muito mais.
    </div>
</div>
<footer>
    Página Web feita por: Andrei A. Santos; Hiago G. Vieira; Marlon S. Santos; Pedro H. T. Degasperi; Talisson S. Santos;
    <br>
    Os dados foram retirados: Nasa WorldWind; Tomorrow.io;
</footer>