<link rel="stylesheet" href="/Home.css">

<div class="page1">
<img src="/imagem-drone.jpg" class="imagem" alt="drone-monitorando-campo">
<div class="bem-vindo">
    <h2>Bem-vindo ao Agro<b>View</b></h2>
    <p>
        Sua Plataforma de Estatísticas Agrícolas
    </p>
</div>
</div>

<div class="page2">
    <h2>Quem nós somos?</h2>
    <div>
        No AgroView, entendemos que a agricultura moderna depende cada vez mais
        de dados precisos para tomar decisões eficientes. Por isso, criamos
        uma plataforma dedicada a fornecer aos agricultores informações
        estatísticas detalhadas e atualizadas sobre clima, solo, umidade e muito mais.
    </div>
</div>
<footer>
    <div class="info">
        <h2>Projeto da <a href="https://www.spaceappschallenge.org/nasa-space-apps-2024/2024-local-events/campo-mourao/" target="_blank">Nasa SpaceApps 2024:</a></h2> <a href="https://www.instagram.com/andreiab448/" target="_blank">Andrei A. Santos;</a>
        <a href="https://www.instagram.com/gimenez_hiago/" target="_blank">Hiago G. Vieira;</a>
        <a href="https://www.instagram.com/marlonsid_/" target="_blank">Marlon S. Santos;</a>
        <a href="https://www.instagram.com/pedrohenriquetunes1/" target="_blank">Pedro H. T. Degasperi;</a>
        <a href="https://www.instagram.com/talissonsidnei/" target="_blank">Talisson S. Santos;</a>
        <br> <br>
        <h2>APIs Utilizadas:</h2>
        <a href="https://worldwind.arc.nasa.gov/" target="_blank">Nasa WorldWind;</a>
        <a href="https://www.tomorrow.io/" target="_blank">Tomorrow.io;</a>
    </div>
</footer>