<link rel="stylesheet" href="/Home.css">
<img src="/imagem-drone.jpg" class="imagem" alt="drone-monitorando-campo">
<div>
<h2>Bem-vindo ao Agro<b>View</b></h2> 
<p>
    Sua Plataforma de Estatísticas Agrícolas No
    AgroView, entendemos que a agricultura moderna depende cada vez mais
    de dados precisos para tomar decisões eficientes. Por isso, criamos
    uma plataforma dedicada a fornecer aos agricultores informações
    estatísticas detalhadas e atualizadas sobre clima, solo, umidade e muito mais.
</p>
</div>