@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --verde-claro: #D7FFF1;
    --verde-escuro: #55917F;
    --cinza: #E6E6E6;
    --preto: #212738;
}

body {
    width: 100vw;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
}

.container {
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    background: var(--cinza);
    padding: 28px;
    gap: 1rem;
}

.container .container-dashboard1 {
    height: 15rem;
    width: 30rem;
    border: 2px solid black;
    border-radius: 7px;
}

.container .container-dashboard2 {
    height: 10rem;
    width: 25rem;
    border: 2px solid black;
    border-radius: 7px;
}

.container .container-dashboard3 {
    height: 5rem;
    width: 19rem;
    border: 2px solid black;
    border-radius: 7px;
}

.container .container-dashboard4 {
    height: 14rem;
    width: 20rem;
    border: 2px solid black;
    border-radius: 7px;
}

.container .container-dashboard5 {
    height: 14rem;
    width: 9rem;
    border: 2px solid black;
    border-radius: 7px;
}

.container .container-dashboard6 {
    height: 10rem;
    width: 25rem;
    border: 2px solid black;
    border-radius: 7px;
    position: relative;
    bottom: 5rem;
}

.container .container-dashboard7 {
    height: 10rem;
    width: 19rem;
    border: 2px solid black;
    border-radius: 7px;
    position: relative;
    bottom: 10rem;
}

.container .container-dashboard8 {
    height: 13rem;
    width: 19rem;
    border: 2px solid black;
    border-radius: 7px;
    position: relative;
    bottom: 14rem;
    left: 57rem;

}

.container .container-dashboard9 {
    height: 8rem;
    width: 25rem;
    border: 2px solid black;
    border-radius: 7px;
    position: relative;
    bottom: 9rem;
    left: 11rem;
}