@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --verde-claro: #D7FFF1;
    --verde-escuro: #55917F;
    --preto: #212738;
}

body {
    width: 100vw;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: "Roboto Mono", monospace;
}

.container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: var(--branco);
    padding: 25px;
    gap: 1rem;
}

.container .container-dashboard1 {
    height: 15rem;
    width: 33rem;
    margin: 5px;
}

.graph{
    background-color: var(--cinza) !important;
    border-radius: 1.25rem !important;
    border: none !important;
}

.container1 {
    display: flex;
}

.container .container-dashboard2 {
    height: 15rem;
    width: 15.5rem;
    border: 2px solid black;
    margin: 5px;
}

.container .container-dashboard3 {
    height: 15rem;
    width: 17rem;
    border: 2px solid black;
    border-radius: 7px;
    margin: 5px;
}

.container .container-dashboard4 {
    height: 10rem;
    width: 20rem;
    border: 2px solid black;
    border-radius: 7px;
    margin: 5px;
}

.container .container-dashboard5 {
    height: 10rem;
    width: 20rem;
    border: 2px solid black;
    border-radius: 7px;
    margin: 5px;
}

.container .container-dashboard6 {
    height: 10rem;
    width: 20rem;
    border: 2px solid black;
    margin: 5px;
}

.container .container-dashboard7 {
    height: 10rem;
    width: 20rem;
    border: 2px solid black;
    margin: 5px;
}

.container .container-dashboard8 {
    height: 12rem;
    width: 20rem;
    border: 2px solid black;
    margin: 5px;
}

.container .container-dashboard9 {
    height: 8rem;
    width: 20rem;
    border: 2px solid black;
    margin: 5px;
}