@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');

@font-face {
    font-family: 'Anton';
    src: url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
}

:root {
    --verde-claro: #D7FFF1;
    --verde-escuro: #55917F;
    --cinza: #E6E6E6;
    --preto: #212738;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: "Roboto Mono", monospace;
    color: var(--preto);
}

body {
    width: 100vw;
    height: 200vh;
}

.page1{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bem-vindo{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.page2{
    width: 100vw;
    height: 80vh;
    padding: 8rem;
}

.container {
    background: var(--cinza);
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.imagem {
    height: 60vh;
    width: 30vw;
    background-position: center;
    border-radius: 100%;
    display: block;
}

.container p {
    height: 2rem;
    width: 25rem;
    display: block;
}

h2{
    font-family: 'Anton';
    font-size: 1.5rem;
    color: var(--preto);
}

b{
    color: var(--verde-escuro);
    font-family: 'Anton';
    font-size: 1.5rem;
}