@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');

@font-face {
    font-family: 'Anton';
    src: url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
}

:root {
    --verde-claro: #D7FFF1;
    --verde-escuro: #55917F;
    --cinza: #E6E6E6;
    --preto: #212738;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: "Roboto Mono", monospace;
    color: var(--preto);
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    background: var(--cinza);
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.imagem {
    height: 16rem;
    width: 16rem;
    background-image: url(/imagem-drone.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 100%;
}

.container p {
    height: 10rem;
    width: 25rem;
}

h2{
    font-family: 'Anton';
    font-size: 1.5rem;
    color: var(--preto);
}

b{
    color: var(--verde-escuro);
    font-family: 'Anton';
    font-size: 1.5rem;
}