@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');

:root {
    --verde-claro: #D7FFF1;
    --verde-escuro: #55917F;
    --cinza: #E6E6E6;
    --preto: #212738;
}

.map{
    background: var(--verde-escuro);
    color: var(--branco);
    border-radius: 700px;
}

body {
    width: 100vw;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: "Roboto Mono", monospace;
}
.container{
    padding: 0;
}

#canvasOne{
    height: 100%;
    width: 100%;
}