@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');

@font-face {
    font-family: 'Anton';
    src: url('/Anton-Regular.ttf');
}
:root {
    --verde-claro: #D7FFF1;
    --verde-escuro: #55917F;
    --cinza: #CCCCCC;
    --preto: #212738;
    --branco: #E6E6E6;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: "Roboto Mono", monospace;
}

.sidebar {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--verde-claro);
    padding: 0px;  
}

.logo {
    text-decoration: none;
    color: var(--verde-escuro);
    background-image: url(/Logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 42px;
    width: 150px;
    margin-left: 3.125rem;
}

p a {
    text-decoration: none;
    color: var(--preto);
    padding: 0.4rem 1rem;
    border-radius: 70px;
    transition: 0.3s;
}

p a:hover {
    background: var(--verde-escuro);
    color: var(--verde-claro);
    transition: 0.3s;
}

.sidebar p {
    display: flex;
    gap: 2.1875rem;
    margin-right: 50px;
}