@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');

@font-face {
    font-family: 'Anton';
    src: url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
}
:root {
    --verde-claro: #D7FFF1;
    --verde-escuro: #55917F;
    --cinza: #CCCCCC;
    --preto: #212738;
    --branco: #E6E6E6;
}

body {
    width: 100vw;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: "Roboto Mono", monospace;
}

.container{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--branco);
}

.Feedback{
    background-color: var(--cinza);
    height: 90%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.img_agro{
    background-color: var(--cinza);
    height: 80%;
    width: 35%;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    border: 30px solid var(--preto);
}

h1{
    font-family: 'Anton';
    color: var(--preto);
    font-size: 31px;
    align-self: center;
}

.form{
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
}

label{
    display: block;
}

input{
    width: 15rem;
    padding-left: 0.3rem;
    border: transparent;
    border-bottom: 3px solid var(--verde-escuro);
    font-size: 20px;
    outline: none;
}

#feedback{
    border: 3px solid var(--verde-escuro);
    height: 5rem;
    width: 15rem;
    display: flex;
    padding-left: 0.2rem;
}

button{
    border-radius: 10px;
    border: transparent;
    height: 2rem;
    width: 4.5rem;
    background-color: var(--verde-escuro);
    cursor: pointer;;
}

p{
    font-family: 'Anton';
    color: var(--branco);
}